<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="/css/common.css">  <!-- 공통 CSS 추가 -->
    <link rel="stylesheet" href="/css/posts.css">
    <script src="/js/common.js" defer></script>  <!-- 공통 JS 추가 -->
    <script src="/js/posts.js" defer></script>
</head>
<body>


<main>
    <div class="post-header">
        <button id="create-post">게시글 작성</button>
    </div>
    <section id="post-list"></section>
</main>

</body>
</html>
